In [15]:
import pandas as pd
from config import google_api_key
import gmaps
import requests

In [2]:
#Read cities.csv and create heatmap. Find hotel locations based on the data
city_data_df=pd.read_csv("cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,avarua,CK,1622765975,-21.2078,-159.7750,78.85,78,20,13.80
1,1,saint anthony,US,1622766083,45.0205,-93.2180,88.12,38,20,5.61
2,2,ushuaia,AR,1622765613,-54.8000,-68.3000,28.06,80,0,6.91
3,3,ponta do sol,PT,1622765982,32.6667,-17.1000,65.03,48,45,7.49
4,4,fairbanks,US,1622765919,64.8378,-147.7164,71.56,30,75,11.50

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date            int64
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
#configure gmaps to the google api key
gmaps.configure(api_key=google_api_key)

In [21]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[['Lat','Lng']]
#max temperature
max_temp=city_data_df['Max Temp']

fig=gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
    
#heatmap variable
heat_layer=gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# Heatmap of cloudiness
locations = city_data_df[["Lat", "Lng"]]
cloudiness = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=cloudiness, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
# Heatmap of wind
locations = city_data_df[["Lat", "Lng"]]
wind_speed = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind_speed, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [26]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,avarua,CK,1622765975,-21.2078,-159.7750,78.85,78,20,13.80
1,1,saint anthony,US,1622766083,45.0205,-93.2180,88.12,38,20,5.61
5,5,bathsheba,BB,1622766115,13.2167,-59.5167,81.21,65,40,17.54
8,8,sakakah,SA,1622765918,29.9697,40.2064,83.77,20,0,6.40
14,14,vaini,TO,1622765894,-21.2000,-175.2000,75.36,88,40,0.00
28,28,cayenne,GF,1622766121,4.9333,-52.3333,80.10,87,90,8.52
32,32,oranjestad,AW,1622766081,12.5240,-70.0270,82.35,73,20,5.01
33,33,butaritari,KI,1622765928,3.0707,172.7902,83.26,74,94,10.25
34,34,hithadhoo,MV,1622765931,-0.6000,73.0833,83.64,70,100,17.36
38,38,georgetown,MY,1622765980,5.4112,100.3354,82.33,86,20,4.61

In [30]:
preferred_cities_df.count()

City_ID       411
City          410
Country       411
Date          411
Lat           411
Lng           411
Max Temp      411
Humidity      411
Cloudiness    411
Wind Speed    411
dtype: int64

In [31]:
preferred_cities_df.dropna()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,avarua,CK,1622765975,-21.2078,-159.7750,78.85,78,20,13.80
1,1,saint anthony,US,1622766083,45.0205,-93.2180,88.12,38,20,5.61
5,5,bathsheba,BB,1622766115,13.2167,-59.5167,81.21,65,40,17.54
8,8,sakakah,SA,1622765918,29.9697,40.2064,83.77,20,0,6.40
14,14,vaini,TO,1622765894,-21.2000,-175.2000,75.36,88,40,0.00
...,...,...,...,...,...,...,...,...,...,...
1300,1300,sri aman,MY,1622766662,1.2376,111.4621,78.85,94,40,0.00
1301,1301,thanh hoa,VN,1622766663,19.8000,105.7667,80.28,72,100,15.35
1302,1302,vicksburg,US,1622766663,32.3526,-90.8779,78.80,78,20,2.30
1303,1303,farmington,US,1622766481,36.7281,-108.2187,78.19,57,53,16.67
1304,1304,jhudo,PK,1622766664,24.9640,69.2968,84.15,68,0,12.50

In [ ]:
preferred_cities_df.count()