In [1]:
import pandas as pd
from config import google_api_key
import gmaps
import requests

In [2]:
#Read cities.csv and create heatmap. Find hotel locations based on the data
city_data_df=pd.read_csv("cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,avarua,CK,1622765975,-21.2078,-159.7750,78.85,78,20,13.80
1,1,saint anthony,US,1622766083,45.0205,-93.2180,88.12,38,20,5.61
2,2,ushuaia,AR,1622765613,-54.8000,-68.3000,28.06,80,0,6.91
3,3,ponta do sol,PT,1622765982,32.6667,-17.1000,65.03,48,45,7.49
4,4,fairbanks,US,1622765919,64.8378,-147.7164,71.56,30,75,11.50

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date            int64
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
#configure gmaps to the google api key
gmaps.configure(api_key=google_api_key)

In [5]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[['Lat','Lng']]
#max temperature
max_temp=city_data_df['Max Temp']

fig=gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
    
#heatmap variable
heat_layer=gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of cloudiness
locations = city_data_df[["Lat", "Lng"]]
cloudiness = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=cloudiness, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of wind
locations = city_data_df[["Lat", "Lng"]]
wind_speed = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind_speed, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [10]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,avarua,CK,1622765975,-21.2078,-159.7750,78.85,78,20,13.80
1,1,saint anthony,US,1622766083,45.0205,-93.2180,88.12,38,20,5.61
4,4,fairbanks,US,1622765919,64.8378,-147.7164,71.56,30,75,11.50
5,5,bathsheba,BB,1622766115,13.2167,-59.5167,81.21,65,40,17.54
8,8,sakakah,SA,1622765918,29.9697,40.2064,83.77,20,0,6.40
11,11,saint-pierre,RE,1622765990,-21.3393,55.4781,73.04,61,0,6.91
12,12,katsuura,JP,1622766083,35.1333,140.3000,71.19,91,99,25.84
13,13,rikitea,PF,1622765899,-23.1203,-134.9692,72.63,66,83,13.87
14,14,vaini,TO,1622765894,-21.2000,-175.2000,75.36,88,40,0.00
20,20,bambous virieux,MU,1622766047,-20.3428,57.7575,73.65,78,75,17.45

In [11]:
preferred_cities_df.count()

City_ID       571
City          570
Country       570
Date          571
Lat           571
Lng           571
Max Temp      571
Humidity      571
Cloudiness    571
Wind Speed    571
dtype: int64

In [12]:
preferred_cities_df.dropna()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,avarua,CK,1622765975,-21.2078,-159.7750,78.85,78,20,13.80
1,1,saint anthony,US,1622766083,45.0205,-93.2180,88.12,38,20,5.61
4,4,fairbanks,US,1622765919,64.8378,-147.7164,71.56,30,75,11.50
5,5,bathsheba,BB,1622766115,13.2167,-59.5167,81.21,65,40,17.54
8,8,sakakah,SA,1622765918,29.9697,40.2064,83.77,20,0,6.40
...,...,...,...,...,...,...,...,...,...,...
1300,1300,sri aman,MY,1622766662,1.2376,111.4621,78.85,94,40,0.00
1301,1301,thanh hoa,VN,1622766663,19.8000,105.7667,80.28,72,100,15.35
1302,1302,vicksburg,US,1622766663,32.3526,-90.8779,78.80,78,20,2.30
1303,1303,farmington,US,1622766481,36.7281,-108.2187,78.19,57,53,16.67
1304,1304,jhudo,PK,1622766664,24.9640,69.2968,84.15,68,0,12.50

In [13]:
preferred_cities_df.count()

City_ID       571
City          570
Country       570
Date          571
Lat           571
Lng           571
Max Temp      571
Humidity      571
Cloudiness    571
Wind Speed    571
dtype: int64

In [14]:
#Get name of hotel within 3 miles from the coordinates defined in preferred_cities_df

In [15]:
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df['hotel Name']= ""
hotel_df.head()

            City Country  Max Temp      Lat       Lng hotel Name
0         avarua      CK     78.85 -21.2078 -159.7750
1  saint anthony      US     88.12  45.0205  -93.2180
4      fairbanks      US     71.56  64.8378 -147.7164
5      bathsheba      BB     81.21  13.2167  -59.5167
8        sakakah      SA     83.77  29.9697   40.2064

In [16]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": google_api_key
}

In [20]:
hotel_df['hotel Name']

0                                            Paradise Inn
1       Holiday Inn Express Roseville-St. Paul, an IHG...
4            Westmark Fairbanks Hotel & Conference Center
5                                          Atlantis Hotel
8                           Fakhamat Al Orjoana Apartment
                              ...
1300                                Seri Simanggang Hotel
1301                                  KHÁCH SẠN NGỌC LY 8
1302          La Quinta Inn & Suites by Wyndham Vicksburg
1303                     Courtyard by Marriott Farmington
1304                                      Nagori Gas Stor
Name: hotel Name, Length: 571, dtype: object

In [32]:
print(i)
hotel_df.loc[i, "hotel Name"]
hotel_df.head()
len(hotels['results'])

830

20

In [33]:
#get list of all lat and lng from hotel_df

for i,row in hotel_df.iterrows():
    lat=row['Lat']
    lng=row['Lng']
    
    #Add these to params defined in cell 17
    params['location']=f"{lat},{lng}"
    
    base_url="https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    hotels=requests.get(base_url,params=params).json()
    #print(hotels)
    #get the hotel name and add to the hotel_df
    try:
        hotel_df.loc[i, "hotel Name"] = hotels['results'][0]['name']
    except:
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

KeyboardInterrupt:

In [34]:
hotel_df.head()

,City,Country,Max Temp,Lat,Lng,hotel Name
0,avarua,CK,78.85,-21.2078,-159.7750,Paradise Inn
1,saint anthony,US,88.12,45.0205,-93.2180,"Holiday Inn Express Roseville-St. Paul, an IHG..."
4,fairbanks,US,71.56,64.8378,-147.7164,Westmark Fairbanks Hotel & Conference Center
5,bathsheba,BB,81.21,13.2167,-59.5167,Atlantis Hotel
8,sakakah,SA,83.77,29.9697,40.2064,Fakhamat Al Orjoana Apartment

In [42]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [44]:
# Store the DataFrame Row.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
hotel_info = [info_box_template.format(**row) for i, row in hotel_df.iterrows()]