In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from citipy import citipy
from config import weather_api_key
import requests
from pprint import pprint
import datetime

In [2]:
#Create a list of 1500 and latitues and longitudes
lats=np.random.uniform(-90,90, size=5000)
lngs=np.random.uniform(-180,180,size=5000)
lats_lngs=zip(lats,lngs)

In [3]:
#Add the zipped object into a list
coordinates=list(lats_lngs)

In [4]:
#Find cities from coordinates
cities=[]

for coordinate in coordinates:
    city=citipy.nearest_city(coordinate[0],coordinate[1]).city_name
    
    if city not in cities:
        cities.append(city)
#print(cities)

In [5]:
city_data=[]  #list to store the weather data
set_count=1
record_count=1
url = "http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=" + weather_api_key
#print(url)

In [6]:
#Get the weather info for the cities from the "open weather website" using the open weather key
for i, city in enumerate(cities):
    #group cities in sets of 50 for logging purposes
    if(i%50 ==0 and i>= 50):
        set_count=set_count+1
        record_count=1
    city_url= url+"&q="+city.replace(" ","+")
    #print(city_url)
    
    print(f"Processing Record {record_count} of Set {set_count} | {city}")
    record_count = record_count +1
    try:
        city_weather=requests.get(city_url).json()
        #pprint(city_weather)
        #Parse the data from json object
        city_lat=city_weather["coord"]["lat"]
        #print(city_lat)
        city_lng = city_weather["coord"]["lon"]
        #print(city_lng)
        city_max_temp = city_weather["main"]["temp_max"]
        #print(city_max_temp)
        city_humidity = city_weather["main"]["humidity"]
        #print(city_humidity)
        city_clouds = city_weather["clouds"]["all"]
        #print(city_clouds)
        city_wind = city_weather["wind"]["speed"]
        #print(city_wind)
        city_country = city_weather["sys"]["country"]
        #print(city_country)
       
        # Convert the date to ISO standard.
        city_date = city_weather["dt"]
        #city_date=city_date.strftime('%Y-%m-%d %H:%M:%S')
        #print(city_date)
        #city_date_new=datetime.utcfromtimestamp(city_weather["dt"]).strftime('%Y-%m-%d %H:%M:%S')
        #print(city_date_new)
        # Append the city information into city_data list.
        city_data.append({"City": city,
                          "Lat": city_lat,
                          "Lng": city_lng,
                          "Max Temp": city_max_temp,
                          "Humidity": city_humidity,
                          "Cloudiness": city_clouds,
                          "Wind Speed": city_wind,
                          "Country": city_country,
                          "Date": city_date})
        
    except:
        print("City not found. Skipping...")
        pass
# Indicate that Data Loading is complete.

print("-----------------------------")
print("Data Retrieval Complete      ")
print("-----------------------------")

Processing Record 1 of Set 1 | albany
Processing Record 2 of Set 1 | linares
Processing Record 3 of Set 1 | mys shmidta
City not found. Skipping...
Processing Record 4 of Set 1 | mataura
Processing Record 5 of Set 1 | atuona
Processing Record 6 of Set 1 | tsihombe
City not found. Skipping...
Processing Record 7 of Set 1 | barrow
Processing Record 8 of Set 1 | luderitz
Processing Record 9 of Set 1 | vaini
Processing Record 10 of Set 1 | rikitea
-----------------------------
Data Retrieval Complete
-----------------------------

In [7]:
#print(city_data[1])

In [8]:
#pprint(city_weather)

In [9]:
# Convert the array of dictionaries to a Pandas DataFrame.
city_data_df = pd.DataFrame(city_data)
city_data_df.head(10)

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,albany,42.6001,-73.9662,72.73,79,96,6.42,US,1622757645
1,linares,-35.8500,-71.6000,57.58,91,100,4.79,CL,1622757741
2,mataura,-46.1927,168.8643,49.48,91,98,4.07,NZ,1622757818
3,atuona,-9.8000,-139.0333,79.30,82,48,18.43,PF,1622757623
4,barrow,71.2906,-156.7887,33.82,75,90,17.27,US,1622757819
5,luderitz,-26.6481,15.1594,69.21,31,0,19.84,NA,1622757819
6,vaini,-21.2000,-175.2000,73.65,67,97,6.08,TO,1622757820
7,rikitea,-23.1203,-134.9692,72.57,65,89,15.86,PF,1622757820

In [10]:
new_column_order = ["City", "Country", "Date", "Lat", "Lng", "Max Temp", "Humidity", "Cloudiness","Wind Speed"]

In [11]:
city_data_df=city_data_df[new_column_order]

In [12]:
# Create the output file (CSV).
output_data_file = "weather_data/cities.csv"
# Export the City_Data into a CSV.
city_data_df.to_csv(output_data_file, index_label="City_ID")